//Color
$white: rgb(242, 242, 242);
$black: rgb(34, 34, 34);
$bg: rgb(20, 20, 20);
$content: rgb(229, 9, 20);
$gray: rgb(179, 179, 179);
$gray-light: rgb(109,109,110);

//Media Qquery
@mixin breakpoint($point) {
    @if $point == sm {
        //640px
        @media (max-width: 40em) {
            @content;
        }
    }
    @if $point == md {
        //768px
        @media (max-width: 48em) {
            @content;
        }
    }
    @if $point == lg {
        //1025px
        @media (max-width: 64.0625em) {
            @content;
        }
    }
}

//
$transition: all 0.3s linear;
$spacing: 0.1rem;

