@import '../../Style/var.scss';

.nav {
    width: 100vw;
    height: 20vh;
}

.content {
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1170px;
    &_title {
        color: $white;
        font-size: 30px;
        font-weight: 600;
    }
    &_grid {
        width: 100%;
        display: grid;
        gap: 1.3rem;
        margin: 0 auto;
        padding-bottom: 5rem;
        padding-top: 3rem;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

.pagination {
    margin-top: 20px;
}
